.nav{
	height: 60px;
	background-color: #800000;
	z-index: 100;
}
.nav .myone{
list-style: none;
margin-left: 250px;
margin-top: -55px;
}
.nav .myone .myli{
	float: left;
	width: 100px;
	height: 50px;
	background-color: #fff ;
	margin-left: 20px;
	text-align: center;
	padding-top: 15px;
	position: relative;
	box-shadow:5px 5px 5px #000;
}
.nav .myli a{
	text-decoration: none;
	color: #000;

}
.myli ul{
list-style: none;
margin-left:-60px;
margin-top: 15px;
position: absolute;
display: none;
z-index: 50;
}
.myli li{
color: #000;
background-color: #fff ;
margin-left:20px;
width: 100px;
height: 30px;
padding-top:10px;

}
.myone .myli:hover{
background-color: #800000;
}
.myone li a:hover{
	color:#000;
}
.myli:hover ul {
	display:block;

}
.myli li:hover{
	color: #000;
	background-color: #800000;

}
	
.banner{
	width: 1024px;
	height: 240px;
	margin: 0 auto;
	filter: Alpha(Opacity=50);
	z-index: 20;
}
.content{
width: 1200px;
height: 800px;
border: 1px solid #000;
margin: 0 auto;
}
.seach{
	width: 800px;
	height: 100px;
}
.footer{
	width: 1200px;
	height: 100px;
	background-color: #b6b6b6;
	margin: 0 auto;
}
.footl{
	margin-left: 30px;
	padding-top: 10px;
}
.footr{
	margin-top: 5px;
	margin-left:250px;
}
